:root{
    --cellSize:60px;
}
body{
    background-image: url("https://img.freepik.com/premium-vector/chess-pieces-gray-white-seamless-pattern-sketch_345837-770.jpg?size=626&ext=jpg&ga=GA1.1.2086526639.1684154695&semt=ais");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.boardqueens{
    display: grid;
    grid-template-rows: repeat(8,var(--cellSize));
    grid-template-columns: repeat(8,var(--cellSize));
    border: 6px solid black;
    justify-content: center;
    align-items: center;
}
.cellqueens{
    display: flex;
    background-color: white;
    width: var(--cellSize);
    height: var(--cellSize);
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
div[name="blackqueens"]{
    background-color: gray;
}

.state{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    font-size: 3rem;
}
