:root{
    --cellSize:60px;
}
body{
    background-image: url("https://img.freepik.com/free-photo/gold-chess-chess-board-game-business-metaphor-leadership-concept_1150-19582.jpg?size=626&ext=jpg&ga=GA1.2.2086526639.1684154695&semt=ais");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.boardchess{
    display: grid;
    grid-template-rows: repeat(8,var(--cellSize));
    grid-template-columns: repeat(8,var(--cellSize));
    border: 5px solid black;
    z-index: 1;
}
.cellchess{
    display: flex;
    background-color: white;
    width: var(--cellSize);
    height: var(--cellSize);
    justify-content: center;
    align-items: center;
    font-size: 35px;
}
div[name="blackchess"]{
    background-color: gray;
}
img{
    width: 100%;
}
