body{
    background-image: url("../../../public/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}
div {
    user-select: none;
}

.allLetters{
    display: flex;  
    font-size: 0.5rem;
    color: black;
    text-align: center;
    float: top;
    margin-left: 11.5%;
}

.allnums{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 0.5rem;
    color: black;
    margin-top: 2%;
    float: left;
}

.allnums span,
.allLetters span{
    background: none;
    display: inline;
    text-align: center;
    width: var(--cellSize);
    height: var(--cellSize);
    box-shadow: none;
}